<div style="background: transparent !important;" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4>Create new character</h4>
        <form #newCharacterForm="ngForm" (ngSubmit)="submit()">
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label>Character name</label>
              <input type="text" class="form-control" name="characterName" [(ngModel)]="characterModel.name" required>
            </div>
          </div>
          <label for="characterCheck">Character' friends</label>
          <div class="form-row" id="characterCheck">
            <div *ngFor="let character of characters; let i = index" class="form-check ml-2">
              <input class="form-check-input" name="chk" type="checkbox" [id]="'character' + i" value="">
              <label class="form-check-label" [for]="'character' + i">
                {{character.name}}
              </label>
            </div>
          </div>
          <label for="episodesCheck" class="mt-2">Presence in episodes</label>
          <div class="form-row" id="episodesCheck">
            <div *ngFor="let episode of episodes; let i = index" class="form-check ml-2">
              <input class="form-check-input" name="chk" type="checkbox" [id]="'episode' + i" value="">
              <label class="form-check-label" [for]="'episode' + i">
                {{episode.name}}
              </label>
            </div>
          </div>
          <button class="btn btn-outline-primary mt-2" type="submit">Create character</button>
        </form>
        <h4 class="mt-2">Create new episode</h4>
        <form #newEpisodeForm="ngForm" (ngSubmit)="submitEpisode()">
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label>Episode name</label>
              <input type="text" class="form-control" name="episodeName" [(ngModel)]="episodeModel.name" required>
              <button class="btn btn-outline-primary mt-2" type="submit">Create episode</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
