<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Star Wars</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/new']">New</a>
    </li>
  </ul>
<!--  <form class="form-inline my-2 my-lg-0">-->
<!--    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>-->
<!--  </form>-->
</nav>
